*.swp
__pycache__/
build/
dist/
critterchat.egg-info/
backend/critterchat/http/static/chat.*.js
backend/critterchat/http/static/chat.*.js.LICENSE.txt
backend/critterchat/http/static/home.*.js
backend/critterchat/http/static/home.*.js.LICENSE.txt
backend/critterchat/http/static/webpack-assets.json
backend/LICENSE
backend/README.md
frontend/node_modules/
backend/.env/
backend/.venv/
backend/tests/.testdb.toml
backend/tests/.testdb.db
backend/.coverage
backend/.config.yaml
backend/.info.txt
backend/.sqlite.db*
