<form id="alt-text-form" class="modal alt-text">
    <div class="alt-text">
        <div class="alt-text-image">
            <img id="alt-text-image">
        </div>
        <div class="alt-text-text">
            <dl class="alt-text-text">
                <dt>describe the attachment for people with limited vision or text-only displays</dt>
                <dd><textarea id="alt-text-text"></textarea></dd>
            </dl>
        </div>
        <div class="actions">
            <div class="item">
                <button type="button" id="alt-text-confirm">apply</button>
            </div>
            <div class="item">
                <button type="button" id="alt-text-cancel">discard</button>
            </div>
        </div>
    </div>
</form>
