<form id="chatdetails-form" class="modal chatdetails">
    <div class="chatdetails">
        <div class="icon-wrapper">
            <div class="icon">
                <img id="chatdetails-icon" />
            </div>
            <div class="picker">
                <input type="file" id="chatdetails-iconpicker" accept="image/*" />
            </div>
            <div class="picker">
                <input type="button" id="chatdetails-remove-icon" value="revert to default" />
            </div>
            <div class="details">
                Icon should be square, no more than <span id="chatdetails-max-icon-width"></span>x<span id="chatdetails-max-icon-height"></span> pixels, and less than <span id="chatdetails-max-icon-size"></span>kb in size.
            </div>
        </div>
        <dl class="name">
            <dt id="chatdetails-name-label"></dt>
            <dd><input type="text" id="chatdetails-name" autocomplete="off" maxlength="255" /></dd>
        </dl>
        <dl class="topic">
            <dt id="chatdetails-topic-label"></dt>
            <dd><input type="text" id="chatdetails-topic" autocomplete="off" maxlength="255" /></dd>
        </dl>
        <dl class="moderation">
            <dt id="chatdetails-moderation-label">moderation</dt>
            <dd>
                <div class="options">
                    <input type="radio" id="chatdetails-moderation-free-for-all" name="moderation" value="free-for-all" />
                    <label for="chatdetails-moderation-free-for-all">free for all</label>
                    <input type="radio" id="chatdetails-moderation-moderated" name="moderation" value="moderated" />
                    <label for="chatdetails-moderation-moderated">moderated</label>
                </div>
                <div class="explain">
                    When set to free for all, anyone in the room can edit the name, topic and room icon.
                    Nobody is in control over member ability to speak. When set to moderated, only room
                    moderators can edit details about the room and can mute users if necessary.
                </div>
            </dd>
        </dl>
        <div class="actions">
            <div class="item">
                <button type="button" id="chatdetails-confirm">update info</button>
            </div>
            <div class="item">
                <button type="button" id="chatdetails-cancel">nevermind</button>
            </div>
        </div>
    </div>
</form>
