<form id="profile-form" class="modal profile">
    <div class="loading">Loading profile...</div>
    <div class="profile">
        <div class="icon-wrapper">
            <div class="icon avatar">
                <img id="profile-icon" />
            </div>
        </div>
        <div class="nickname-wrapper">
            <div class="nickname" id="profile-nickname"></div>
        </div>
        <div class="actions-wrapper">
            <button type="button" id="profile-message">message user</button>
        </div>
        <div class="admin-wrapper">
            <button type="button" id="profile-deactivate">deactivate user</button>
        </div>
        <hr />
        <div class="about" id="profile-about">
        </div>
    </div>
</form>
