<form id="search-form" class="modal search">
    <div class="search">
        <div class="actions">
            <input type="text" id="search" class="search" autocomplete="off" placeholder="Find a chatter or an existing chat..." />
        </div>
        <div class="results"></div>
        <div class="actions-wrapper">
            <button type="button" id="search-create-public-room">create and join a new public room</button>
            <button type="button" id="search-create-private-chat">create and join a new private chat</button>
        </div>
    </div>
</form>
