include critterchat/data/migrations/alembic.ini
include critterchat/http/templates/*.html
include critterchat/http/templates/account/*.html
include critterchat/http/templates/home/*.html
include critterchat/http/templates/login/*.html
include critterchat/http/templates/modals/*.html
include critterchat/http/static/*.otf
include critterchat/http/static/*.ttf
include critterchat/http/static/*.woff
include critterchat/http/static/*.css
include critterchat/http/static/*.js
include critterchat/http/static/*.LICENSE.txt
include critterchat/http/static/*.json
include critterchat/http/static/*.png
include critterchat/http/static/*.svg
include critterchat/http/static/*.mp3
graft critterchat/http/static/twemoji
