wheel
Flask
Flask-SocketIO
Flask-CORS
gevent
gevent-websocket
PyYAML
SQLAlchemy
alembic
mysqlclient
emoji
webcolors
pillow
requests
sqlalchemy-stubs
types-emoji
types-pyyaml
types-requests
mypy
flake8
