wheel
Flask
Flask-SocketIO
Flask-CORS
gevent
gevent-websocket
PyYAML
SQLAlchemy
alembic
mysqlclient
emoji
webcolors
pillow
pillow-jxl-plugin
pillow-heif
requests
pycryptodome
libpass
sqlalchemy-stubs
sql-fragments
python-dateutil
pydub
audioop-lts ; python_version>="3.13"
python-magic-standalone
