wheel
Flask
Flask-SocketIO
Flask-CORS
gevent
gevent-websocket
PyYAML
SQLAlchemy
alembic
mysqlclient
emoji
webcolors
pillow
requests
pycryptodome
passlib
sqlalchemy-stubs
python-dateutil
types-emoji
types-pyyaml
types-requests
types-python-dateutil
mypy
flake8
