{% extends "base.html" %}
{% block includes %}
  <script src="{{ url_for('static', filename=jsname) }}"></script>
  <script src="{{ url_for('static', filename='twemoji-16.0.1.min.js') }}"></script>
  <link href="{{ url_for('static', filename='chat.css') }}?{{ cachebust }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='autocomplete.css') }}?{{ cachebust }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='emojisearch.css') }}?{{ cachebust }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='jquery.modal.0.9.1.min.css') }}?{{ cachebust }}" rel="stylesheet" />
  <script>
    window.twemojiOptions = { base: "{{ url_for('static', filename='twemoji/') }}" }
    window.versionCheck = "{{ url_for('chat.version') }}";
    window.appname = {{ title|tojson|safe }};
    window.version = {{ version|tojson|safe }};
    window.emojis = {{ emojis|tojson|safe }};
    window.emotes = {{ emotes|tojson|safe }};
    window.username = {{ username|tojson|safe }};
  </script>
{% endblock %}
{% block content %}
    <div class="menu">
        <div class="rooms">
        </div>
        <div class="actions">
            <div class="item">
                <button id="search-chat">
                    <img src="{{ url_for('static', filename='search.svg') }}" width="16" height="16" />
                    search chat/chatter
                </button>
            </div>
        </div>
        <div class="actions">
            <div class="item">
                <button id="edit-preferences">
                    <img src="{{ url_for('static', filename='edit.svg') }}" width="16" height="16" />
                    edit preferences
                </button>
            </div>
            <div class="item">
                <button id="edit-profile">
                    <img src="{{ url_for('static', filename='edit.svg') }}" width="16" height="16" />
                    edit profile
                </button>
            </div>
            <div class="item">
                <button id="log-out">
                    <img src="{{ url_for('static', filename='logout.svg') }}" width="16" height="16" />
                    log out
                </button>
            </div>
        </div>
    </div>
    <div class="chat">
        <div class="top-info">
            <div class="back">
                <img alt="back" src="{{ url_for('static', filename='left-arrow-circle.svg') }}" />
            </div>
            <div class="icon hidden">
                <img />
                <div class="room-indicator">#</div>
            </div>
            <div class="info-wrapper">
                <div class="title">&nbsp;</div>
            </div>
            <div class="info-wrapper">
                <div class="topic">&nbsp;</div>
            </div>
        </div>
        <div class="conversation-wrapper">
            <div class="conversation">
                <div class="loading-wrapper">
                    <div class="loading">
                        Now loading your chat...
                    </div>
                </div>
            </div>
        </div>
        <form class="actions" action="" method="POST" id="message-actions">
            <div class="newmessage">
                <div class="new-messages-alert">new messages</div>
                <input type="text" id="message" autocomplete="off" placeholder="Type a message..." />
                <div class="emoji-search"></div>
            </div>
            <div class="send">
                <button id="sendmessage">send</button>
            </div>
            <div class="info">
                <button id="infotoggle">info</button>
            </div>
        </form>
    </div>
    <div class="info hidden">
        <div class="header">
            <div class="back">
                <img alt="back" src="{{ url_for('static', filename='left-arrow-circle.svg') }}" />
            </div>
            <div class="title-wrapper">
                <span class="title" id="room-title"></span>
                <span class="desc">with the following members:</span>
            </div>
        </div>
        <div class="occupants">
        </div>
        <div class="actions">
            <div class="item">
                <button id="edit-info">
                    <img src="{{ url_for('static', filename='edit.svg') }}" width="16" height="16" />
                    edit info
                </button>
            </div>
            <div class="item">
                <button id="leave-room">
                    <img src="{{ url_for('static', filename='leave.svg') }}" width="16" height="16" />
                    leave <span id="leave-type">chat</span>
                </button>
            </div>
        </div>
    </div>
    <form id="search-form" class="modal search">
        <div class="search">
            <div class="actions">
                <div class="searchbox">
                    <input type="text" id="search" autocomplete="off" placeholder="Search for a chatter or a chat..." />
                </div>
            </div>
            <div class="results"></div>
        </div>
    </form>
    <form id="editpreferences-form" class="modal editpreferences">
        <div class="editpreferences">
            <div class="preferences">
                <h2>Notifications</h2>
                <div class="preference">
                    <input type="checkbox" id="editpreferences-title-notifications">
                    <label for="editpreferences-title-notifications">Add unread notification indicator to title bar</label>
                </div>
                <h3>Audio Notifications</h3>
                <div class="preference">
                    <input type="checkbox" id="editpreferences-audio-notification-chat_sent">
                    <label for="editpreferences-audio-notification-chat_sent">Chat Message Sent</label>
                    <img class="preview" id="editpreferences-audio-notification-chat_sent-preview" src="{{ url_for('static', filename='preview.svg') }}" width="16" height="16" />
                    <div>
                        <input class="notification" type="file" id="editpreferences-audio-notification-chat_sent-file" accept="audio/*" />
                    </div>
                </div>
                <div class="preference">
                    <input type="checkbox" id="editpreferences-audio-notification-chat_received">
                    <label for="editpreferences-audio-notification-chat_received">Chat Message Received</label>
                    <img class="preview" id="editpreferences-audio-notification-chat_received-preview" src="{{ url_for('static', filename='preview.svg') }}" width="16" height="16" />
                    <div>
                        <input class="notification" type="file" id="editpreferences-audio-notification-chat_received-file" accept="audio/*" />
                    </div>
                </div>
                <div class="preference">
                    <input type="checkbox" id="editpreferences-audio-notification-message_sent">
                    <label for="editpreferences-audio-notification-message_sent">Direct Message Sent</label>
                    <img class="preview" id="editpreferences-audio-notification-message_sent-preview" src="{{ url_for('static', filename='preview.svg') }}" width="16" height="16" />
                    <div>
                        <input class="notification" type="file" id="editpreferences-audio-notification-message_sent-file" accept="audio/*" />
                    </div>
                </div>
                <div class="preference">
                    <input type="checkbox" id="editpreferences-audio-notification-message_received">
                    <label for="editpreferences-audio-notification-message_received">Direct Message Received</label>
                    <img class="preview" id="editpreferences-audio-notification-message_received-preview" src="{{ url_for('static', filename='preview.svg') }}" width="16" height="16" />
                    <div>
                        <input class="notification" type="file" id="editpreferences-audio-notification-message_received-file" accept="audio/*" />
                    </div>
                </div>
                <div class="preference">
                    <input type="checkbox" id="editpreferences-audio-notification-mentioned">
                    <label for="editpreferences-audio-notification-mentioned">Mentioned by Username</label>
                    <img class="preview" id="editpreferences-audio-notification-mentioned-preview" src="{{ url_for('static', filename='preview.svg') }}" width="16" height="16" />
                    <div>
                        <input class="notification" type="file" id="editpreferences-audio-notification-mentioned-file" accept="audio/*" />
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="item">
                    <button id="editpreferences-confirm">update preferences</button>
                </div>
                <div class="item">
                    <button id="editpreferences-cancel">nevermind</button>
                </div>
            </div>
        </div>
    </form>
    <form id="editprofile-form" class="modal editprofile">
        <div class="editprofile">
            <div class="icon-wrapper">
                <div class="icon avatar">
                    <img id="editprofile-icon" />
                </div>
                <div class="picker">
                    <input type="file" id="editprofile-iconpicker" accept="image/*" />
                </div>
                <div class="details">
                    Avatar should be square, no more than 256x256 pixels, and less than 128kb in size.
                </div>
            </div>
            <dl class="name">
                <dt id="editprofile-name-label">nickname</dt>
                <dd><input type="text" id="editprofile-name" placeholder="Type a custom nickname..." autocomplete="off" maxlength="255" /></dd>
            </dl>
            <div class="actions">
                <div class="item">
                    <button id="editprofile-confirm">update profile</button>
                </div>
                <div class="item">
                    <button id="editprofile-cancel">nevermind</button>
                </div>
            </div>
        </div>
    </form>
    <form id="chatdetails-form" class="modal chatdetails">
        <div class="chatdetails">
            <div class="icon-wrapper">
                <div class="icon">
                    <img id="chatdetails-icon" />
                </div>
                <div class="picker">
                    <input type="file" id="chatdetails-iconpicker" accept="image/*" />
                </div>
                <div class="details">
                    Icon should be square, no more than 256x256 pixels, and less than 128kb in size.
                </div>
            </div>
            <dl class="name">
                <dt id="chatdetails-name-label"></dt>
                <dd><input type="text" id="chatdetails-name" autocomplete="off" maxlength="255" /></dd>
            </dl>
            <dl class="topic">
                <dt id="chatdetails-topic-label"></dt>
                <dd><input type="text" id="chatdetails-topic" autocomplete="off" maxlength="255" /></dd>
            </dl>
            <div class="actions">
                <div class="item">
                    <button id="chatdetails-confirm">update info</button>
                </div>
                <div class="item">
                    <button id="chatdetails-cancel">nevermind</button>
                </div>
            </div>
        </div>
    </form>
    <form id="warning-form" class="modal warning">
        <div class="warning">
            <div class="warning-text" id="warning-text">
            </div>
            <div class="actions">
                <div class="item">
                    <button id="warning-confirm"></button>
                </div>
                <div class="item">
                    <button id="warning-cancel"></button>
                </div>
            </div>
        </div>
    </form>
    <form id="info-form" class="modal information">
        <div class="information">
            <div class="information-text" id="info-text">
            </div>
            <div class="actions">
                <div class="item">
                    <button id="info-confirm"></button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
