{% extends "base.html" %}
{% block includes %}
  <script src="{{ url_for('static', filename='chat.js') }}"></script>
  <script src="{{ url_for('static', filename='twemoji-14.0.2.min.js') }}"></script>
  <link href="{{ url_for('static', filename='chat.css') }}" rel="stylesheet" />
  <script>
    window.twemojiOptions = { base: "{{ url_for('static', filename='twemoji/') }}" }
    window.emojis = {{ emojis|tojson|safe }};
    window.emotes = {{ emotes|tojson|safe }};
  </script>
{% endblock %}
{% block content %}
    <div class="menu">
        <div class="conversations">
        </div>
        <div class="actions">
            <div class="item">
                <button id="newchat">&#127381;</button>
            </div>
            <div class="item">
                <button id="searchchat">&#128269;</button>
            </div>
        </div>
    </div>
    <div class="chat">
        <div class="conversation">
        </div>
        <div class="actions">
            <div class="newmessage">
                <input type="text" id="message" />
            </div>
            <div class="send">
                <button id="sendmessage">send</button>
            </div>
        </div>
    </div>
{% endblock %}
