.autocomplete {
    position: aboslute;
    margin: 0px;
    border: 1px solid var(--autocomplete-border);
    background: var(--autocomplete-background);
    color: var(--autocomplete-text);
    z-index: 200;
}

.autocomplete-element {
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    display: flex;
    align-items: center;
    cursor: default;
}

.autocomplete-additional {
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    text-align: center;
    cursor: default;
}

.autocomplete-element.selected {
    background: var(--autocomplete-selected);
}

.icon-preview {
    max-width: var(--emoji-max-width);
    height: var(--emoji-height);
    width: auto;
    border-radius: 50%;
}
