:root {
    /* Theme colors */
    --application-background: light-dark(#ffffff, #222222);
    --application-icon-background: light-dark(#ffffff, #222222);
    --application-text: light-dark(#000000, #ffffff);
    --application-subtle-text: light-dark(#5f5f5f, #5f5f5f);

    --sidebar-background: light-dark(#dddddd, #222222);
    --sidebar-text: light-dark(#000000, #e1e1e1);
    --sidebar-hover-background: light-dark(#bcbcbc, #444444);

    --conversation-background: light-dark(#efefef, #373737);
    --conversation-text: light-dark(#000000, #dddddd);
    --conversation-topic: light-dark(#707070, #707070);
    --conversation-timestamp: light-dark(#666666, #848484);
    --conversation-highlighted-background: light-dark(#e0e0e0, #242424);

    --edit-icon-background: light-dark(#dddddd, #333333);
    --edit-icon-text: light-dark(#000000, #ffffff);

    --button-background: light-dark(#dddddd, #555555);
    --button-border: light-dark(#bcbcbc, #424242);
    --button-text: light-dark(#000000, #ffffff);
    --button-hover-background: light-dark(#bcbcbc, #424242);
    --button-hover-border: light-dark(#bcbcbc, #424242);
    --button-hover-text: light-dark(#000000, #ffffff);

    --input-background: light-dark(#ffffff, #1c1c1c);
    --input-text: light-dark(#000000, #ffffff);
    --input-border: light-dark(#bcbcbc, #6d6d6d);

    --input-button-background: light-dark(#efefef, #373737);
    --input-button-text: light-dark(#000000, #ffffff);
    --input-button-border: light-dark(#bcbcbc, #6d6d6d);
    --input-button-hover-background: light-dark(#bcbcbc, #6d6d6d);
    --input-button-hover-text: light-dark(#000000, #ffffff);
    --input-button-hover-border: light-dark(#bcbcbc, #6d6d6d);

    --autocomplete-border: light-dark(#bcbcbc, #6d6d6d);
    --autocomplete-text: light-dark(#000000, #ffffff);
    --autocomplete-background: light-dark(#ffffff, #1c1c1c);
    --autocomplete-selected: light-dark(#aaaaaa, #555555);

    --emojisearch-border: light-dark(#bcbcbc, #6d6d6d);
    --emojisearch-text: light-dark(#000000, #ffffff);
    --emojisearch-background: light-dark(#ffffff, #222222);
    --emojisearch-selected: light-dark(#aaaaaa, #555555);
    --emojisearch-selected-category: light-dark(#000000, #ffffff);

    --error-border: light-dark(#b3b3b3, #1c1c1c);
    --error-error: light-dark(#e4a7a7, #d77575);
    --error-warning: light-dark(#e4c9a7, #d0a46d);
    --error-info: light-dark(#a7d0e4, #68a4c2);
    --error-success: light-dark(#bde4a7, #74a659);

    /* Random element colors that don't get themed with light/dark */
    --new-messages-background: #bf32a9;
    --new-messages-text: #ffffff;

    --badge-background: #ff0000;
    --badge-text: #ffffff;

    --roomindicator-background: #ffffff;
    --roomindicator-text: #000000;

    --action-background: #d372fd;
    --action-text: #000000;

    /* Theme styling attributes. */
    --button-border-radius: 5px;
    --error-border-radius: 5px;
    --input-border-radius: 3px;
}

html, body {
    font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100dvw;
    height: 100dvh;
    background: var(--application-background);
    color: var(--application-text);
    overflow: hidden;
}

body {
    color-scheme: light dark;
}

body.light {
    color-scheme: light ! important;
}

body.dark {
    color-scheme: dark ! important;
}

input:not([type=file]):not([type=button]) {
    color: var(--input-text);
    background: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: var(--input-border-radius);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

button, input[type=button], input::file-selector-button {
    color: var(--input-button-text);
    background: var(--input-button-background);
    border: 1px solid var(--input-button-border);
    border-radius: var(--input-border-radius);
    padding-top: 4px;
    padding-bottom: 4px;
}

form button, form input[type=button], form input::file-selector-button {
    padding-left: 10px;
    padding-right: 10px;
}

button:hover, input[type=button]:hover, input::file-selector-button:hover {
    color: var(--input-button-hover-text);
    background: var(--input-button-hover-background);
    border: 1px solid var(--input-button-hover-border);
}

form.modal {
    background: var(--application-background) ! important;
}

div.errors {
    position: absolute;
    z-index: 1;
    width: 100%;
}

ul.errors {
    list-style: none;
    margin: 0px;
    padding: 10px;
}

ul.errors li {
    border-radius: var(--error-border-radius);
    border: 1px solid var(--error-border);
    padding: 10px;
    margin: 0px;
    display: flex;
}

ul.errors li:not(:last-child) {
   margin-bottom: 10px;
}

ul.errors li div.flash-message {
    flex-grow: 1;
    margin: 0px;
    padding-top: 2px;
}

ul.errors li button {
    background: var(--button-background);
    border: 1px solid var(--button-border);
    color: var(--button-text);
    border-radius: var(--button-border-radius);
}

ul.errors li button:hover {
    background: var(--button-hover-background);
    border: 1px solid var(--button-hover-border);
    color: var(--button-hover-text);
}

ul.errors li button.close {
    font-size: 10px;
}

li.error {
    background: var(--error-error);
}

li.warning {
    background: var(--error-warning);
}

li.success {
    background: var(--error-success);
}

li.info {
    background: var(--error-info);
}

div.maskable {
    display: inline-block;
    background-color: currentColor;
    mask-size: contain;
}

div.close-svg {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    mask-image: url('close.svg');
}

div.search-svg {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    mask-image: url('search.svg');
}

div.edit-svg {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    mask-image: url('edit.svg');
}

div.leave-svg {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    mask-image: url('leave.svg');
}

div.logout-svg {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    mask-image: url('logout.svg');
}

div.container {
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

div.container > div.menu {
    width: 250px;
    border: 8px solid var(--sidebar-background);
    background: var(--sidebar-background);
    color: var(--sidebar-text);
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

div.menu > div.rooms {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    gap: 5px;
    overflow-y: scroll;
    padding-right: 10px;
}

div.rooms div.item, div.results div.item, div.occupants div.item {
    flex-direction: row;
    display: flex;
    padding: 5px;
    border-radius: var(--button-border-radius);
    cursor: default;
    border: 1px solid transparent;
}

div.rooms div.item.selected, div.results div.item:hover {
    background: var(--sidebar-hover-background);
    border: 1px solid var(--sidebar-hover-background);
}

div.rooms div.item:hover {
    border: 1px solid var(--sidebar-hover-background);
}

div.actions div.item img {
    margin-bottom: -3px;
    display: inline;
}

div.icon div.room-indicator {
    position: absolute;
    font-size: 14px;
    top: 22px;
    left: 22px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    color: var(--roomindicator-text);
    background: var(--roomindicator-background);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center
}

div.icon div.badge.empty {
    display: none;
}

div.rooms div.item div.icon, div.results div.item div.icon, div.occupants div.item div.icon {
    position: relative;
}

div.icon div.badge {
    position: absolute;
    top: 0px;
    left: 22px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: var(--badge-text);
    background: var(--badge-background);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center
}

div.badge > div.count {
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 5px;
}

div.rooms div.item div.icon img, div.results div.item div.icon img, div.occupants div.item div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: 36px;
    height: 36px;
    margin: 0px;
}

div.rooms div.item div.name-wrapper, div.results div.item div.name-wrapper, div.occupants div.item div.name-wrapper {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    font-size: 14px;
    height: 36px;
    align-items: center;
}

div.name-wrapper div.name {
    max-height: 36px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.meta-wrapper span.name {
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.results div.item div.action-wrapper {
    height: 100%;
    display: flex;
    height: 36px;
    align-items: center;
}

div.results div.item div.action {
    border-radius: var(--button-border-radius);
    background: var(--action-background);
    color: var(--action-text);
    max-height: 36px;
    padding: 5px;
    font-size: 12px;
}

div.menu > div.actions, div.info > div.actions {
    display: flex;
    gap: 10px;
}

div.actions div.item {
    height: 40px;
    overflow: hidden;
    flex-grow: 1;
}

div.actions div.item button {
    background: var(--button-background);
    border: 1px solid var(--button-border);
    color: var(--button-text);
    border-radius: var(--button-border-radius);
    width: 100%;
    height: 100%;
    font-size: 12px;
}

div.actions div.item button:hover {
    background: var(--button-hover-background);
    border: 1px solid var(--button-hover-border);
    color: var(--button-hover-text);
}

div.container > div.chat {
    background: var(--conversation-background);
    color: var(--conversation-text);
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    width: 0px;
    display: flex;
    flex-direction: column;
}

div.chat > div.top-info {
    background: var(--sidebar-background);
    border-top: 10px solid var(--sidebar-background);
    border-bottom: 5px solid var(--sidebar-background);
    color: var(--sidebar-text);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.top-info div.back, div.info div.back {
    cursor: default;
    display: none;
}

div.back-button-svg {
    width: 36px;
    height: 36px;
    mask-image: url('left-arrow-circle.svg');
}

div.top-info div.icon {
    position: relative;
}

div.top-info div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: 36px;
    height: 36px;
    margin: 0px;
}

div.top-info div.info-wrapper {
    height: 36px;
    align-items: center;
    display: flex;
}

div.top-info div.title {
    font-size: 16px;
    max-height: 36px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.top-info div.topic {
    font-size: 12px;
    max-height: 28px;
    color: var(--conversation-topic);
    align-content: end;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.top-info div.topic img.emote, div.top-info div.topic img.emoji {
    height: 12px ! important;
}

div.chat > div.conversation-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

div.conversation div.scrolled-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15px;
}

div.conversation > div.loading-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.conversation-wrapper > div.conversation {
    border-top: 10px solid var(--conversation-background);
    border-left: 10px solid var(--conversation-background);
    border-right: 10px solid var(--conversation-background);
    color: var(--conversation-text);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.chat > form.actions {
    border: 10px solid var(--conversation-background);
    color: var(--conversation-text);
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div.chat form.actions div.newmessage {
    flex-grow: 1;
    position: relative;
    display: inherit;
}

div.newmessage input {
    width: 100%;
    padding-right: 25px ! important;
}

div.chat div.conversation div.item {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div.conversation div.item div.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.conversation div.item div.meta-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div.conversation div.item span.name {
    font-size: 16px;
    font-weight: bold;
}

div.conversation div.item span.timestamp {
    color: var(--conversation-timestamp);
    font-size: 12px;
    padding-top: 4px;
}

div.conversation div.item div.message {
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-word;
}

div.conversation div.item.combined div.icon {
    display: none;
}

div.conversation div.item.combined div.meta-wrapper {
    display: none;
}

div.conversation div.item.combined div.message {
    margin-left: 41px;
    margin-top: -6px;
}

div.message.highlighted {
    background: var(--conversation-highlighted-background);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    border-left: 2px solid orange;
}

div.chat div.item div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: 36px;
    height: 36px;
    margin: 0px;
}

div.icon.avatar img {
    border-radius: 50%;
}

div.icon.room img {
    border-radius: 10px;
}

div.new-messages-alert {
  display: none;
  position: absolute;
  top: -35px;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: var(--new-messages-background);
  color: var(--new-messages-text);
  border-radius: 10px;
}

div.container > div.info {
    width: 250px;
    border: 10px solid var(--sidebar-background);
    background: var(--sidebar-background);
    color: var(--sidebar-text);
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

div.hidden {
    display: none ! important;
}

div.full {
    width: 100% ! important;
}

div.info > div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

div.info > div.occupants {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    gap: 5px;
    overflow-y: scroll;
    padding-right: 10px;
}

div.occupants div.item {
    flex-direction: row;
    display: flex;
    padding: 5px;
    border-radius: var(--button-border-radius);
    cursor: default;
    border: 1px solid transparent;
}

div.search, div.warning, div.information {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.search > div.actions,
div.warning > div.actions,
div.information > div.actions,
div.chatdetails > div.actions,
div.editprofile > div.actions,
div.editpreferences > div.actions
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

div.preview {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    mask-image: url('preview.svg');
}

div.cancel {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    mask-image: url('cancel.svg');
}

div.preference input.notification {
    padding-bottom: 10px;
}

div.preference div.explain {
    color: var(--application-subtle-text);
    padding-bottom: 5px;
}

div.warning > div.warning-text, div.information > div.information-text {
    flex-grow: 1;
}

div.search > div.actions div.searchbox {
    flex-grow: 1;
}

div.searchbox input {
    width: 100%;
}

div.search > div.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    padding-right: 10px;
}

div.chatdetails, div.editprofile, div.editpreferences {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.chatdetails > div.icon-wrapper, div.editprofile > div.icon-wrapper {
    background: var(--edit-icon-background);
    color: var(--edit-icon-text);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

div.chatdetails div.icon img, div.editprofile div.icon img {
    background: var(--application-icon-background);
    display: block;
    width: 72px;
    height: 72px;
    margin: 0px;
}

div.chatdetails div.details, div.editprofile div.details {
    text-align: center;
}

div.chatdetails div.icon, div.chatdetails div.picker, div.editprofile div.icon, div.editprofile div.picker {
    display: flex;
    justify-content: center;
}

div.chatdetails dl, div.editprofile dl, div.editpreferences dl {
    margin: 0px;
}

div.chatdetails dt, div.editprofile dt, div.editpreferences dt {
    font-size: 14px;
}

div.chatdetails dl.name dd, div.chatdetails dl.topic dd, div.editprofile dl.name dd {
    display: flex;
    margin-left: 0px;
}

div.chatdetails dl.name input, div.chatdetails dl.topic input, div.editprofile dl.name input {
    width: 100%;
}

div.info > div.occupants {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    padding-right: 10px;
}

div.info > div.title-wrapper {
    font-size: 14px;
    gap: 5px;
}

div.title-wrapper span.title {
    font-weight: bold;
}

div.title-wrapper span.desc {
    flex-grow: 1
}

img.emote, img.emoji {
    display: inline-block;
    max-width: 48px;
    height: 16px;
    width: auto;
}

div.item img.emote, div.item img.emoji {
    margin-bottom: -3px;
}

img.emote-big, img.emoji-big {
    display: inline-block;
    max-width: 96px;
    height: 32px;
    width: auto;
}

div.emoji-search {
    position: absolute;
    right: 5px;
    padding-top: 5px;
    filter: grayscale(100%);
}

div.emoji-search:hover, div.emoji-search.opened {
    filter: none;
}

.name-highlight {
    font-weight: bold;
}

div.newseparator > div.content-wrapper {
    display: flex;
    flex-direction: row;
}

div.newseparator div.newline {
    border-top: 1px solid var(--conversation-text);
    flex-grow: 1;
    margin-top: 12px;
    margin-bottom: -24px;
}

div.newseparator div.newmessage {
    padding: 5px;
}
