.emojisearch {
    position: aboslute;
    margin: 0px;
    border: 1px solid var(--emojisearch-border);
    background: var(--emojisearch-background);
    color: var(--emojisearch-text);
    z-index: 200;
    height: var(--emoji-search-container);;
}

.emojisearch-container {
    margin: var(--emoji-search-container-margin);
    cursor: default;
}

.emojisearch-typeahead, .emojisearch-categories, .emojisearch-content {
    display: flex;
}

.emojisearch-typeahead input {
    width: 100%
}

.emojisearch-categories {
    padding-top: var(--emoji-search-padding);
    padding-bottom: var(--emoji-search-padding);
}

.emojisearch-category {
    filter: grayscale(100%);
    padding: var(--emoji-search-padding);
}

.emojisearch-category img {
    margin-bottom: -0.3em;
}

.emojisearch-category.selected {
    filter: none;
    border-bottom: 1px solid var(--emojisearch-selected-category);
}

.emojisearch-element {
    white-space: nowrap;
    margin: 0px;
    padding: var(--emoji-search-padding);
    display: flex;
    align-items: center;
    cursor: default;
}

.emojisearch-content {
    height: var(--emoji-search-contents);
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.emojisearch-element.selected {
    background: var(--emojisearch-selected);
}

.emoji-preview {
    max-width: var(--emoji-max-width);
    height: var(--emoji-height);
    width: auto;
}
