html, body {
    font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
    background: var(--application-background);
    color: var(--application-text);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

div.login {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

div.login-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: min(500px, 100vw);
}

div.login div.section {
    border-radius: 15px;
    background: var(--static-section-background);
    padding: 15px;
}

div.login div.section dd {
    margin: 0px;
    display: flex;
}

div.login div.section dd input[type=text], div.login div.section dd input[type=password] {
    width: 100%;
}

img.emote, img.emoji {
    display: inline-block;
    margin-bottom: -0.25em;
    max-width: var(--emoji-max-width);
    height: var(--emoji-height);
    width: auto;
}

ul.errors {
    list-style: none;
    margin: 0px;
    padding: 10px;
}

ul.errors li {
    border-radius: 15px;
    padding: 15px;
    margin: 0px;
}

ul.errors li:not(:last-child) {
   margin-bottom: 10px;
}

li.error {
    background: var(--error-error);
}

li.warning {
    background: var(--error-warning);
}

li.success {
    background: var(--error-success);
}

li.info {
    background: var(--error-info);
}

ul.errors button.close {
    display: none;
}

dt.padded {
    height: 5px;
}

input {
    border: 1px solid var(--input-border);
    border-radius: var(--input-border-radius);
    color: var(--input-text);
    background: var(--input-background);
}

button, input[type=button] {
    color: var(--application-text-color);
    background: var(--input-button-background);
    border: 1px solid var(--input-border);
    border-radius: var(--input-border-radius);
}

button:hover, input[type=button]:hover {
    background: var(--button-hover-background);
}

a.mastodon-login {
    color: var(--application-text-color);
    background: var(--input-button-background);
    border: 1px solid var(--input-border);
    border-radius: var(--input-border-radius);
    padding: 5px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

a.mastodon-login:hover {
    background: var(--button-hover-background);
}

a.mastodon-login img {
    display: inline-block;
    margin-bottom: -5px;
}
