:root {
    --application-text-color: #0000000;

    --input-border-color: #8f8f9d;
    --input-border-radius: 3px;
    --button-background-color: #e9e9ed;
    --button-background-hover-color: #d0d0d7;

    /* We really should have a common CSS to share these between this and chat.css. */
    --emoji-height: 1.15em;
    --emoji-max-width: 3.45em;
}

html, body {
    font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
    color: var(--application-text-color);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    overflow: hidden;
}

div.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

div.login {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

div.login-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: min(500px, 100vw);
}

div.login div.section {
    border-radius: 15px;
    background: #dddddd;
    padding: 15px;
}

div.login div.section dd {
    margin: 0px;
    display: flex;
}

div.login div.section dd input[type=text], div.login div.section dd input[type=password] {
    width: 100%;
}

img.emote, img.emoji {
    display: inline-block;
    margin-bottom: -0.25em;
    max-width: var(--emoji-max-width);
    height: var(--emoji-height);
    width: auto;
}

ul.errors {
    list-style: none;
    margin: 0px;
    padding: 10px;
}

ul.errors li {
    border-radius: 15px;
    padding: 15px;
    margin: 0px;
}

ul.errors li:not(:last-child) {
   margin-bottom: 10px;
}

li.error {
    background: #e4a7a7;
}

li.warning {
    background: #e4c9a7;
}

li.success {
    background: #bde4a7;
}

li.info {
    background: #a7d0e4;
}

ul.errors button.close {
    display: none;
}

dt.padded {
    height: 5px;
}

input {
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
}

button, input[type=button] {
    color: var(--application-text-color);
    background: var(--button-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
}

button:hover, input[type=button]:hover {
    background: var(--button-background-hover-color);
}

a.mastodon-login {
    color: var(--application-text-color);
    background: var(--button-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    padding: 5px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

a.mastodon-login:hover {
    background: var(--button-background-hover-color);
}

a.mastodon-login img {
    display: inline-block;
    margin-bottom: -5px;
}
