{% extends "base.html" %}
{% block includes %}
  {% if jsname %}
    <script src="{{ absolute_url_for('static', component="base", filename=jsname) }}"></script>
    <script src="{{ absolute_url_for('static', component="base", filename='twemoji-17.0.2.min.js') }}"></script>
    <script>
      window.twemojiOptions = {
        base: "{{ absolute_url_for('static', component="base", filename='twemoji/') }}",
        attributes: function( _icon, _variant ) {
          return {
            width: "72",
            height: "72",
          };
        },
      };
      window.emojis = {{ emojis|tojson|safe }};
      window.emotes = {{ emotes|tojson|safe }};
    </script>
  {% endif %}
  <link href="{{ absolute_url_for('static', component='base', filename='theme.css') }}?{{ cachebust }}" rel="stylesheet" />
  <link href="{{ absolute_url_for('static', component='base', filename='home.css') }}?{{ cachebust }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="login">
        <div class="login-wrapper">
            <div class="section">
                <h2>Register Account</h2>
                {% if invite %}
                    <form action="{{ absolute_url_for('account.invitepost', component='base', invite=invite) }}" method="post">
                    {% if user %}
                        <div>You were invited to {{ config.name }} by <span class="convert-emoji">{{ user.nickname }}</span>.</div>
                    {% endif %}
                {% else %}
                    <form action="{{ absolute_url_for('account.registerpost', component='base') }}" method="post">
                {% endif %}
                    <dl>
                        <dt>Desired Username</dt>
                        <dd><input type="text" name="username" value="{{ username }}"/></dd>
                        <dt>&nbsp;</dt>
                        <dd>&nbsp;</dd>
                        <dt>Desired Password</dt>
                        <dd><input type="password" name="password1" /></dd>
                        <dt>Retype Password</dt>
                        <dd><input type="password" name="password2" /></dd>
                        <dt class="padded"></dt>
                        <dd><input type="submit" value="create" /></dd>
                    </dl>
                </form>
            </div>
            <div class="section">
                Already have an account? <a href="{{ absolute_url_for('account.login', component='base') }}">Log in!</a>
            </div>
        </div>
    </div>
{% endblock %}
